<%= form_with scope: :message, url: rcable_messages_path(rcable) do |form| %>
  <div class='message-content'>
    <div class='m-1'><div class='btn btn-success btn-sm badge-pill'><%= current_user.email %></div></div>
    <%= form.text_area :content, rows: 3, class: 'form-control', data: { action: 'keydown->cable#handleKeydown' }%>
    <%#= form.label :image, '파일선택', class: 'btn btn-sm btn-primary m-1' %>
    <%#= form.file_field :image, class: 'm-1 d-none' %>
    <div id="customFileGroup" class="input-group p-1">
      <!-- Placeholder for the file selection -->
      <div class="custom-file">
        <%= form.file_field :image, id: 'customFile', class: 'custom-file-input' %>
        <%= form.label :image, '파일선택', for: 'customFile', class: 'custom-file-label' %>
      </div>
      <div class="input-group-append">
        <%= form.button "보내기", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %> 

<script type="application/javascript">
  $('input[type="file"]').change(function(e){
    if ($("#customFileGroup .input-group-text").length == 0) {
      $('#customFileGroup').prepend(`
        <div class='input-group-prepend'>
          <label class='input-group-text bg-warning' for='inputGroupSelect01'>선택한 파일</label>
        </div>
      `);
    }

    let fileName = e.target.files[0].name;
    $('.custom-file-label').html(fileName);
});
</script>