<% if message.persisted? %>
  <div id="message_<%= message.id %>" class='message border border-dark rounded bg-light bg-secondary p-1 m-1'>
    <strong><%= message.user.name %></strong> : 
    <div class='message-timestamp'><%= message.timestamp %></div>
    <%= sanitize markdown(message.content) %>
    <% if message.image.attached? %>
      <div class='alert alert-dark'>
        <% if message.image.representable? %>
          <% if message.image.content_type.include?('image') %>
            <%= link_to image_tag(url_for(message.image.variant(resize_to_limit: [200, 200])), class: 'rounded'), url_for(message.image) %>
          <% else %>
            <%= link_to image_tag(url_for(message.image.preview(resize_to_limit: [200, 200])), class: 'rounded'), url_for(message.image) %>
          <% end %>
          <br>
          <%= link_to fa_icon(:solid, 'download', message.image.filename.to_s), rails_blob_path(message.image, disposition: "attachment") %>
        <% else %>
          <%= link_to fa_icon(:solid, 'download', message.image.filename.to_s), rails_blob_path(message.image, disposition: "attachment") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
