<%= form_with(model: rblog, local: true, data: {controller: 'tui-editor', action: 'submit->tui-editor#submit'}) do |form| %>
  <% if rblog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rblog.errors.count, "error") %> prohibited this rblog from being saved:</h2>

      <ul>
        <% rblog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, data: { editor: 'tui-editor', target: 'tui-editor.content' } %>
  </div>

  <div class="field">
    <%= form.label :writer_id %>
    <%= form.text_field :writer_id %>
  </div>

  <div class="field">
    <%= form.label :shared %>
    <%= form.check_box :shared %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
