<div class="rblog card">
  <%= image_tag rblog.random_image_url, class: 'card-img-top' if rblog.random_image_url %>
  <div class="card-body">
    <h5 class="card-title"><%= rblog.title %></h5>
    <p class="card-text text-secondary"><%= truncate rblog.content.strip, length: 200 %></p>
    <%= link_to fa_icon(:solid, 'glasses', 'read'), rblog, class: 'btn btn-success btn-sm' %>
    <%= link_to fa_icon(:solid, 'edit', 'edit'), edit_rblog_path(rblog), class: 'btn btn-primary btn-sm' if policy(rblog).edit? %>
    <%= link_to fa_icon(:solid, 'trash', 'delete'), rblog, method: 'delete', data:{ confirm: t('are_you_sure')}, class: 'btn btn-danger btn-sm' if policy(rblog).destroy? %>
  </div>
</div>      