<p id="notice"><%= notice %></p>

<h1>Rblogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Writer</th>
      <th>Shared</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rblogs.each do |rblog| %>
      <tr>
        <td><%= rblog.title %></td>
        <td><%= rblog.content %></td>
        <td><%= rblog.writer_id %></td>
        <td><%= rblog.shared %></td>
        <td><%= link_to 'Show', rblog %></td>
        <td><%= link_to 'Edit', edit_rblog_path(rblog) %></td>
        <td><%= link_to 'Destroy', rblog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rblog', new_rblog_path %>
