<h2 class='font-weight-bold mb-4'><%= @rblog.title %></h2>

<div data-controller='tui-viewer'>
  <div data-viewer='tui-viewer'>
    <%= @rblog.content %>
  </div>
</div>

<p>
  <strong>Written by </strong>
  <%= @rblog.writer.email %>, <%= @rblog.shared ? 'shared with members' : 'not shared'%>
</p>

<hr>

<%= link_to 'Edit', edit_rblog_path(@rblog), class: 'btn btn-primary' %> 
<%= link_to 'Back', rblogs_path, class: 'btn btn-primary' %>
