<h2 class='font-weight-bold mb-4'><%= @rblog.title %></h2>

<div data-controller='tui-viewer'>
  <div data-viewer='tui-viewer'>
    <%= @rblog.content %>
  </div>
</div>

<p>
  <strong>Writer:</strong>
  <%= @rblog.writer_id %>
</p>

<p>
  <strong>Shared:</strong>
  <%= @rblog.shared %>
</p>

<%= link_to 'Edit', edit_rblog_path(@rblog) %> |
<%= link_to 'Back', rblogs_path %>
