<%= form_with(model: rcable, local: true) do |form| %>
  <% if rcable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rcable.errors.count, "error") %> prohibited this rcable from being saved:</h2>

      <ul>
        <% rcable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
