<%= form_with(model: rcable, local: true) do |form| %>
  <% if rcable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rcable.errors.count, "error") %> prohibited this rcable from being saved:</h2>

      <ul>
        <% rcable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 5, class: 'form-control' %>
  </div>
  
<div class="field">
  <%= label_tag '커버 이미지' %>
  <div class='alert alert-secondary'>
    <% if rcable.cover.attached? %>
      <div class='mb-2'>
        <%= image_tag rcable.cover.variant(resize_to_limit: [300, 300]), class: "rounded", alt:"Card image cap" %>
      </div>
    <% end %>
    <div class="custom-file" data-controller='file-upload' style='height: auto;'>
      <%= form.file_field :cover, id: 'rcable_cover', name: 'rcable[cover]', class: 'custom-file-input' %>
      <%= form.label :files, '파일선택', for: 'rcable_cover', class: 'custom-file-label' %>
    </div>
  </div>

</div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to t("all.show"), @rcable, class: 'btn btn-secondary' if @rcable.persisted? %>
    <%= link_to t("all.back"), rcables_path, class: 'btn btn-secondary' %>
  </div>
<% end %>

<script type="application/javascript">
  $('input[type="file"]').change(function(e){
      var fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
  });
</script>