<div class="card mr-3 mb-3 mt-3 d-inline-block">
  <%= image_tag 'chatting-card-image.png', class: "card-img-top", alt:"Card image cap" %>
  <div class="card-body">
    <h5 class="card-title font-weight-bolder"><%= rcable.name %><br><small><i><%= rcable.user.email %></i></small></h5>
    <p class="card-text"><%= truncate(rcable.description, length: 100) || 'No Description' %></p>
    <%= link_to '참여하기', rcable, class: 'btn btn-primary' %>
    <% if policy(rcable).edit? %>
      <div class='d-inline ml-2 float-right'>
        <%= link_to fa_icon(:solid, 'edit'), edit_rcable_path(rcable), class: 'btn btn-link text-success' %> |
        <%= link_to fa_icon(:solid, 'trash-alt'), rcable, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link text-danger' %>
      </div>
    <% end %>
  </div>
</div>