<span class='badge badge-pill badge-success'>실시간 채팅</span>
<div class='float-right'>
  <strong>개설자:</strong>
  <%= @rcable.user.email %>
  <% if policy(@rcable).edit? %>
    | <%= link_to fa_icon(:solid, 'cog', t('.edit')), edit_rcable_path(@rcable) %>
  <% end %>
</div>

<% if @rcable.cover.attached? %>
  <div class='mb-2'>
    <%#= image_tag @rcable.cover.variant(resize_to_fill: [700,200]), class: "rounded", alt:"Card image cap" %>
  </div>
<% end %>

<div class='cable-title-box' style="background-image: url('<%= @rcable.cover.attached? ? url_for(@rcable.cover) : image_url('chatting-card-image.png') %>');">
  <p class='shadow-font'>
    <%= @rcable.name %>
  </p>
</div>

<% unless @rcable.description.blank? %>
  <div class='alert alert-dark'>
    <%= @rcable.description %>
  </div>
<% end %>

<div data-controller='cable'>
  <!-- 실시간 채팅 메시지 -->
  <div id="rcable-messages" 
       data-channel-subscribe='rcable'
       data-rcable-id="<%= @rcable.id %>"
       class='messages'>
    <%= render @rcable.messages %>
  </div>

  <!-- 채팅 메시지 입력 폼 -->
  <div id="rcable-message-form" class="message-form">
    <%= render 'messages/form', rcable: @rcable %>
  </div>
</div>

<%= link_to t('all.back'), rcables_path, class: 'btn btn-primary' %>