<span class='badge badge-pill badge-success'>실시간 채팅</span>
<div class='float-right'>
  <strong>개설자:</strong>
  <%= @rcable.user.email %>
</div>
<h1 class='text-center mb-4 font-weight-bold'><%= @rcable.name %></h1>

<div data-controller='cable'>
  <!-- 실시간 채팅 메시지 -->
  <div id="rcable-messages" 
       data-channel-subscribe='rcable'
       data-rcable-id="<%= @rcable.id %>"
       class='messages'>
    <%= render @rcable.messages %>
  </div>

  <!-- 채팅 메시지 입력 폼 -->
  <div id="rcable-message-form" class="message-form">
    <%= form_with scope: :message, url: rcable_messages_path(@rcable) do |form| %>
      <div class='message-content'>
        <div class='mb-1'><span class='badge badge-pill badge-warning'><%= current_user.email %></span></div>
        <%= form.text_area :content, rows: 3, class: 'form-control', data: { action: 'keydown->cable#handleKeydown' }%>
        <%= form.button :send, style: 'display:none;' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to t('.edit'), edit_rcable_path(@rcable), class: 'btn btn-primary' %>
<%= link_to t('.back'), rcables_path, class: 'btn btn-primary' %>
