<strong>실시간 채팅:</strong>
<div class='float-right'>
  <strong>개설자:</strong>
  <%= @rcable.user.email %>
</div>
<h1 class='text-center mb-4 font-weight-bold'><%= @rcable.name %></h1>

<div data-controller="cable" id="messages-for-rcable-<%= @rcable.id %>" class='messages' data-rcable-id="<%= @rcable.id %>">
  <%= render partial: 'messages/message', collection:  @rcable.messages %>
</div>
<div class='message-form'>
  <%= render '/messages/form', message: @message, rcable: @rcable %>
</div>

<%= link_to 'Edit', edit_rcable_path(@rcable), class: 'btn btn-primary' %>
<%= link_to 'Back', rcables_path, class: 'btn btn-primary' %>
