<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><%= image_tag 'rorlab_logo_155x40_300dpi.png', size: '155x40', class: 'd-inline-block align-top' %></a>
  <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item">
        <%= link_to 'rBlogs', rblogs_path, class: 'nav-link' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown <%= 'active' if devise_controller? %>">
          <a class="nav-link dropdown-toggle" href="#" id='navbarDropdown2' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user_profile current_user %>
            <%#= current_user.account_name %>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
            <h6 class="dropdown-header">Level : <%#= current_user.level %> / Point : <%#= current_user.points %></h6>
            <h6 class="dropdown-header">Roles : <%#= user_roles(current_user) %></h6>
            <div class="dropdown-divider"></div>
            <%= link_to "My Account", edit_user_registration_path, class: 'dropdown-item' %>
            <%#= link_to "My Profile", (current_user.user_profile.nil? ? new_user_profile_path : edit_user_profile_path), class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item'>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign in
          </a>            
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <%= link_to "with RORLa", new_user_session_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class='nav-item'><%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>    
  </div>
</nav>