<!DOCTYPE html>
<html>
  <head>
    <title>Rorlab2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 여기에 navbar 삽입 -->
    <div class='container'>
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
